/* General Styles */
body {
  margin: 0;
  width: 100%;

}



/* Listas de Tareas */
.lista-tareas {
  width: 600px;
  min-height: 500px;
  background-color: #fefeff;
  opacity: 95%;
  padding: 25px;
  margin-left: auto; /* Ajustar la alineación horizontal */
  margin-right: auto; /* Ajustar la alineación horizontal */
  border-radius: 26px;
  align-content: center;
}
